email_address = "your_email@example.com"
domain_name = "myhomelabsolutions.com"
cloudflare_api_token = "your_cloudflare_api_token"
cloudflare_zone_id = "your_cloudflare_zone_id"
container_user = "root"
container_password = "your_container_password"
external_ip_address = "your_external_ip_address"
deploy_cloudflare_dns = true  # Set to false if you don't want to deploy Cloudflare DNS entries