[k3s_nodes]
%{ for hostname in k3s_nodes ~}
${split(".", hostname)[0]}
%{ endfor ~}

[k3s_master]
${split(".", k3s_nodes[0])[0]}

[k3s_workers]
%{ for hostname in slice(k3s_nodes, 1, length(k3s_nodes)) ~}
${split(".", hostname)[0]}
%{ endfor ~}

[k3s:children]
k3s_master
k3s_workers

[proxmox]
10.0.0.99

[all:vars]
ansible_user=root
ansible_ssh_private_key_file=~/.ssh/id_rsa